.menuSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
  max-width: 1920px;
}

.title {
  font-family: "Roboto";
  color: var(--primary-font-color);
}

.subtitle {
  margin-top: 1rem;
  font-family: "Cormorant Garamond";
  color: var(--primary-font-color);
}

.menuItemContainer {
  margin: 1rem;
}

.menuItemDisplay {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  background-image: url("src/assets/pictures/bun-dau-mam-tom.jpg");
  background-size: cover;
  background-position: center;
  min-width: 20rem;
  height: 10rem;
}

.menuSelectionIcon {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: var(--primary-font-color);
  fill: white;
  border-color: aqua;
  border-radius: 100%;
}
