.container {
  padding-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100vh;
}

.title {
  font-family: "Roboto";
  color: var(--primary-font-color);
}

.subtitle {
  margin-top: 1rem;
  font-family: "Cormorant Garamond";
  color: var(--primary-font-color);
}

.menuItem {
  height: 20rem;
  background-image: url("src/assets/pictures/bun-dau-mam-tom.jpg");
  background-size: cover;
  background-position: center;
}
